.carousel .carousel-inner .item img {
	height: 300px;
	margin: 0 auto;
}

.movie-list {
	margin-top: 50px;
}

.description {
	height: 300px;
	color: white;
	margin-top: 35px;
}

.search-bar {
	margin-top: 40px;
}

.logo {
	margin-top: 40px;
	width: 250px;
}
