.modal-content {
    background: #3a3a3a;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    border: 0;
    text-align: left;
}

.modal-header, .modal-footer {
    padding: 25px 25px 15px 25px;
    background: #333;
    border: 0;
    -moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
    color: #888;
}

.modal-header .close {
    font-size: 36px;
    color: #eee;
    font-weight: 300;
    text-shadow: none;
    opacity: 1;
}

.modal-title {
    margin-bottom: 10px;
    line-height: 30px;
    color: #eee;
}

.modal-body {
    padding: 25px 25px 30px 25px;
    background: #3a3a3a;
    text-align: left;
    -moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
}

.description-movie {
    color: white;
}

button.checkout {
    height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #337CDA;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    text-shadow: none;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

button.checkout:hover { opacity: 0.6; color: #fff; }

button.checkout:active { outline: 0; opacity: 0.6; color: #fff; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }

button.checkout:focus { outline: 0; opacity: 0.6; background: #1C5095; color: #fff; }

button.checkout:active:focus, button.checkout.active:focus { outline: 0; opacity: 0.6; background: #1C5095; color: #fff; }
