body {
    padding-top: 51px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    background: #7F7F7F;
}

.navbar {
	background: #2D54AD;
}

.navlogo {
	width: 50px;
	height: 25px;
}

.navbar li a, .navbar .navbar-brand {
	color: white;
}

.navbar .navbar-brand:hover {
	color: #8C8C89;
}

.navbar li a:hover, .navbar li.active a {
	background: #315FC7 !important;
}

.navbar-inverted .btn {
	margin-left: 10px;
	background: #337CDA !important;
	color: white;
}

.navbar-inverted .navbar-toggle .icon-bar {
    background-color: white !important;
}

#livesearch {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    z-index: 2;
}

.hidden-item {
    display: none;
}

.container .jumbotron{
    padding-top: 10px;
    margin-top: 10px;
}

footer {
    right: 0px;
    bottom: 0px;
    left: 0px;
    position: absolute;
    padding: 1rem;
    background-color: #2D54AD;
    text-align: center;
}

@media(min-width:768px) {
    body {
        padding-top: 51px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    }
}


