
.description {
	color: white;
}

.row{
    margin-right: 0px !important;
}
.jumbotron {
	background-image: url('../images/home-page-background.jpg');
	background-size: cover;
	background-repeat: none;
}

.search-bar {
	margin-top: 40px;
}

.logo {
	margin-top: 40px;
	width: 250px;
}

.main-search {
	margin-left: 50px;
}

.search-btn, .search-btn:visited {
	background-color: orange;
	text-decoration: none;
	color: black;
}

#livesearch {
	left: -15px;
}